@inject INopHtmlHelper NopHtml

<h1>@ViewBag.storeName</h1>aaaa

<script>
    window.opener.document.getElementById('selectedCvs').innerText = document.getElementsByTagName('h1')[0].innerText;
    window.close();
</script>

@NopHtml.GenerateInlineScripts(ResourceLocation.Footer)